:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
}

body
{
    font-family: "Poppins",Arial, Helvetica, sans-serif;
}



/*Editamos nuestra barra de navegación*/
#header
{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background: var(--main-red);
    box-shadow: 0 2px 0 rgb(0 0 0 / 40%);
    z-index: 10;
}

#navbar ul
{
    display: flex;
    justify-content: flex-end;
    align-items: center ;
    list-style: none;
}

#navbar li
{
    padding: 10px 20px;
    font-size: 1.6rem;
}

#navbar a
{
    text-decoration: none;
    color: var(--main-white);
}

/*Editamos nuestra seccion de bienvenida*/


#welcome-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#welcome-section h1
{
    margin-bottom: 5px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: var(--main-white);
}
#welcome-section p

{
    margin-top: 5px;
    font-size: 1.5rem;
    color: var(--main-red);
}

/*Editamos la seccion de proyectos*/
#projects
{
    height: 100vh;
}

.projects-section
{
    text-align: center;
    padding: 7rem;
    background: var(--main-blue);
}

#projects h2
{
    margin-bottom: 5px;
    color: var(--main-white);
    text-shadow: 2px 2px 1px #1f1f1f;
    font-size: 3rem;
}
#projects hr
{
    margin-top: 5px;
    width: 50%;
    text-shadow: 2px 2px 1px #1f1f1f;
}

.projects-grid
{

    padding-top: 50px;
    display: grid;
    grid-template-columns: 30% 30%;
    grid-row-gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.project-image
{
    
    height: 220px;
    width: 100%;
    object-fit: cover;
}

.profile-link
{
    text-decoration: none;
    color: var(--main-white);
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgb(0 0 0 / 50%);
    border-radius: 5px;
}

.profile-link:hover
{
    color: var(--main-red);
}

/*Editamos la seccion de contacto*/
#contacts
{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--main-gray);
    color: var(--main-white);
}

#contact-header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
}

#contact-header h2

{
    font-size: 3rem;
    text-shadow: 2px 2px 1px #1f1f1f;
}

#contact-links
{
    display: flex;
    margin-top: 10px;
}

#contact-links a
{
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 20px;
    color: var(--main-white);
    font-size: 1.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
}

#contact-links img
{
    margin-right: 10px;
    filter: invert(1) sepia(0) hue-rotate(0) saturate(1000%);
}

/*Editamos la seccion de footer*/

#footer
{
    padding: 2rem;
    background: var(--main-gray);
    border-top: 4px solid var(--main-red);
    color: var(--main-white);
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

#profile-link
{
    padding: 0.5rem;
    text-decoration: none;
    color: var(--main-white);
}

@media screen and (max-width:400px)
{
    body
    {
        background-color: var(--main-gray);
    }   
}